@import "mixin.scss";
@import "button.scss";

$text-ease-in: all .2s ease-in-out;
$content-ease-in: all .5s ease-in-out;

html {
	overflow-y: hidden;
}

div.language-and-techs {
	h4 {
		padding-bottom: 15px;
	}
	p.tech-list { 
		font-size: 1.2rem;
		letter-spacing: 1.1px;
		padding-left: 0.8rem;
		strong {
			text-decoration: underline;
		}
	}
}


div {
	span.intro-title h2,
	p.intro-sub,
	img.hero-image {
		opacity: 0;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
	}

	span.intro-title.bouncy h2 {
		animation-name: cd-bounce-right;
	}

	p.intro-sub {
		animation-name: cd-bounce-left;
	}

	img.hero-image {
		animation-name: cd-bounce-rotate;
  	animation-duration: 0.5s;
	}

	span.intro-title.bouncy h2,
	p.intro-sub.bouncy {
		animation-duration: 0.6s;
	}

	span.intro-title {
		h2 { 
			font-size: 1.8rem;
			text-align: center;
			transition: $text-ease-in;
			@include respond-to('medium') {
				font-size: 2.4rem;
			}

			@include respond-to('large') {
				font-size: 3rem;
				text-align: left;
			}
		}
	}
	p.intro-sub {
		text-align: center;
		transition: $text-ease-in;
		@include respond-to('large') {
			text-align: left;
		}
	}
} 

div.hero {
	display: flex;
	justify-content: center;
	transition: $content-ease-in;
	position: relative;
	@include respond-to('large') {
		transform: translateX(-40%);
	}
  img.hero-image {
    border-radius: 50%;
		width: 140px;
		height: 140px;
    opacity: 1;
    transition: $content-ease-in;
		box-shadow: none;
		border-style: solid;
		border-width: 2px;
		border-color: white;
    &:focus,
    &:hover,
    &:active {
      box-shadow: 0 3px 30px rgba(0,0,0,0.8);
		}
		@include respond-to('small') {
			width: 195px;
			height: 195px;
		}
		@include respond-to('large') {
			width: 220px;
			height: 220px;
		}
	} 
}


div[class$="-Inner"] {
	div[class$="-Projects"] {
		display: block;
	}
}
a.footer-link,
a.footer-link:link,
a.footer-link:visited,
a.footer-link:visited:hover,
a.footer-link:hover,
a.footer-link:active {
	color: #c05621;
}


.feedback-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffc83d;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #ffc228; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }